{{ form_start(form, {'attr': {'id': 'form-inscription'}}) }}


    {# {{ form_widget(form) }} #}

    <div class="form-group">
        {{ form_label(form.name)}}
         {{ form_widget(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.age)}}
         {{ form_widget(form.age) }}
    </div>
    <div class="form-group">
        {{ form_label(form.sexe)}}
         {{ form_widget(form.sexe) }}
    </div>
     <div class="form-group">
        {{ form_label(form.composition)}}
         {{ form_widget(form.composition) }}
    </div>
     <div class="form-group">
        {{ form_label(form.location)}}
         {{ form_widget(form.location) }}
    </div>
     <div class="form-group">
        {{ form_label(form.logement)}}
         {{ form_widget(form.logement) }}
    </div>
     <div class="form-group">
        {{ form_label(form.email)}}
         {{ form_widget(form.email) }}
        
    </div>

        <div class="form-group">
     
        {# {{ form_label(form.password, 'Mot de passe' ) }} #}
         {{ form_widget(form.password) }}
    </div>
  



    {{form_rest(form)}}


    <button class="btn btn-primary container">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}



